[Desktop Entry]
Name=GUEFI Boot Manager
Name[ca]=Gestor d'arrencada GUEFI.
Name[de]=GUEFI Bootmanager
Name[el]=Διαχειριστής Εκκίνησης GUEFI
Name[es]=Gestor de Arranque GUEFI
Name[fr]=Gestionnaire d'amorcage GUEFI
Name[hi_IN]=GUEFI बूट प्रबंधक
Name[ia]=Gerente de boot GUEFI
Name[ie]=Gerente de inicie GUEFI
Name[it]=Gestore di Avvio GUEFI
Name[ja]=GUEFI ブートマネージャー
Name[nl]=GUEFI Boot Manager
Name[pl]=GUEFI Boot Manager
Name[pt]=Gestor de Arranque GUEFI
Name[pt_BR]=Gestor de Inicialização GUEFI
Name[pt_PT]=Gestor de Arranque GUEFI
Name[ru]=Менеджер загрузки GUEFI
Name[sv]=GUEFI starthanterare
Name[tr]=GUEFI Ön Yükleme Yöneticisi
Name[uk]=Менеджер завантаження GUEFI
Comment=A graphical frontend to efibootmgr
Comment[ca]=Un frontal gràfic per a efibootmgr
Comment[de]=Ein grafisches Frontend zu "efibootmgr"
Comment[el]=Ένα γραφικό περιβάλλον για το efibootmgr
Comment[es]=Una interfaz gráfica para efibootmgr
Comment[fr]=Un frontend graphique de efibootmgr
Comment[hi_IN]=Efibootmgr हेतु ग्राफ़िकल फ्रंट-एंड प्रोग्राम
Comment[ia]=Un interfacie graphic per efibootmgr
Comment[ie]=Un grafic interfacie por efibootmgr
Comment[it]=Una interfaccia grafica per efibootmgr
Comment[ja]=efibootmgr グラフィカルフロントエンド
Comment[nl]=Een grafische schil voor efibootmgr
Comment[pl]=Graficzny tryb programu efibootmgr
Comment[pt]=Um ambiente gráfico para efibootmgr
Comment[pt_BR]=Um ambiente gráfico para o efibootmgr
Comment[pt_PT]=Um ambiente gráfico para efibootmgr
Comment[ru]=Графический интерфейс для efibootmgr
Comment[sv]=Ett grafiskt gränssnitt till efibootmgr
Comment[tr]=Efibootmgr için grafiksel ön yüz
Comment[uk]=Графічний інтерфейс до efibootmgr
Exec=gksu guefi
Icon=guefi
Terminal=false
Type=Application
Categories=Application;System;;
StartupNotify=true
Encoding=UTF-8
NotShowIn=KDE
